Repository ninoseki/miteru: changes, and which lefthook commands are due for each by the changed paths.
All: standard, actionlint

standard:
  run: bundle exec standardrb --fix {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint

refactor: remove sidekiq?
  lib/miteru.rb
  lib/miteru/service.rb
Due: standard

chore: update deps
  miteru.gemspec
Due: none

chore: update deps (#208)
  miteru.gemspec
Due: none

refactor: remove sidekiq? (#207)
  lib/miteru.rb
  lib/miteru/service.rb
Due: standard

v3.0.1
  lib/miteru/version.rb
Due: standard

refactor: use search instead of phish-feed
  lib/miteru/feeds/urlscan_pro.rb
Due: standard

chore: update deps (#209)
  miteru.gemspec
Due: none

refactor: use search instead of phish-feed (#210)
  lib/miteru/feeds/urlscan_pro.rb
Due: standard

v3.1.0
  lib/miteru/version.rb
Due: standard

v3.1.0 (#211)
  lib/miteru/version.rb
Due: standard

refactor: use slog style
  lib/miteru/crawler.rb
  lib/miteru/orchestrator.rb
  lib/miteru/sidekiq/jobs.rb
Due: standard

refactor: use slog style (#213)
  lib/miteru/crawler.rb
  lib/miteru/orchestrator.rb
  lib/miteru/sidekiq/jobs.rb
Due: standard

chore: update deps
  .github/workflows/gem.yml
  .github/workflows/ruby.yml
  lib/miteru/feeds/urlscan_pro.rb
  miteru.gemspec
Due: standard, actionlint

chore: update deps (#216)
  .github/workflows/gem.yml
  .github/workflows/ruby.yml
  lib/miteru/feeds/urlscan_pro.rb
  miteru.gemspec
Due: standard, actionlint

Path conditions:
  standard: any of: *.rb
  actionlint: any of: *.{yaml,yml} and ^\.github/workflows/
